/* body {
  padding: 0;
  margin: 0;
} */

/* set map, body, and html to 100% of the screen size */
/* #map,
body,
html {
  height: 100%;
} */
#map
{
    /*flex-grow: 1; 
    position: absolute;*/
    width: 100%;
    height: 400px;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    display: block;
}

/* html, body
{
    height: 100%;
} */

#map-holder{
    height: 100%;
}

.fill
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.container{
    max-width:100em;
    padding: 0.1em;
}
.popupImage {
  max-width: 100%;
  max-height: 100%;
}

.well{
  color: rgb(242, 248, 242);
  font-weight: bold;
}

.navbar {
  width: 100%;
  background-color: rgb(245, 243, 243);
  overflow: auto;
  background-color: transparent;
}

.navigation .navbar-brand {
  color: rgb(170, 179, 182);
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  font-family: cochin;
}


body, html {
  height: 100%;
}

body {
  background: url(../../images/image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.75;
}

h3,
.h3 {
    font-size: 800%;
    text-align: center;
    mix-blend-mode: difference;
    color: rgb(255, 255, 255);
    filter: brightness(500%)
    
    
}

p,
.p {
    font-size: 200%;
    text-align: center;
    color: white;
}

h4,
.h4 {
    font-size: 100%;
    text-align: center;
    color: rgb(250, 250, 250);
}